figure {
    margin: 1em 0;
    figcaption {
        font-weight: 500;
        span { font-weight: 700; }
    }
    img {
        display: block;
        margin: 0 auto;
        padding: 2em 0
    }
    &.figure03,
    &.figure05,
    &.figure07, 
    &.figure08 {
        float: right;
        margin-top: 0;
        margin-left: 2em;
        width: 50%;
    }
}