.main-content {
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 1em 0;
    width: 1000px;
  }
  .start-intro {
    h2 {
      color: $color-primary-1;
    }
    .flex-body {
      display: flex;
    }
    .flex-row {
      flex-direction: row;
      padding-left: 1em;
      width: 60%;
    }
    .flex-column {
      flex-direction: column;
      margin-left: 1em;
      align-items: center;
      justify-content: center;
      display: flex;
      width: 40%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    figure {
      border: 1px solid $color-primary-3;
      figcaption {
        padding: 0 0.5em 0.5em 0.5em;
        text-align: center;
      }
    }
    p {
      line-height: 2;
    }
  }
  .start-main {
    header {
      background-color: $color-primary-3;
      line-height: 2;
      margin: 1em 0;
      padding-left: 1em;
      h3 {
        color: $wht-color;
        font-size: 1.5em;
        font-weight: 500;
      }
    }
    p {
      line-height: 2; 
      padding-bottom: 1em; 
      padding-left: 1em;
    }  
    .filter {
      background-color: $wht-color;
      text-align: left;
      padding-bottom: 1em;
      position: sticky;
      top: 0;
      z-index: 10;
      &__header {
        color: $color-primary-3;
        display: block;
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 0.5em;
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
      }
      p {
        padding: 0;
      }
      &__year {
        border-top: 3px solid $color-primary-2;
        list-style-type: none;
        margin-top: 1em;
        padding-top: 1em;
        li {
          font-size: 1.8rem;
          display: inline-block;
          padding-left: 1em;
          &:first-child { padding-left: 0;}
        }
      }
    }
  }