.modal {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($blk-color, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($blk-color, .3);
    }
    &__wrapper {
        height: 100vh;
        overflow-y: scroll;
        position: relative;
        width: 100%;
    }
    &__content {
        background-color: $wht-color;
        box-shadow: 0 0 4rem 0 rgba($blk-color, .2);
        border-radius: 3px;
        display: table;
        height: 100%;
        opacity: 0;
        position: relative;
        top: 13%;
        width: 100%;
        p { padding-bottom: 1em; }
        &:before{
            background: inherit;
            border-top: 0.7em solid $color-primary-2;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            transform-origin: left top;
            transform: skewY(-3deg);
            width: 100%;
        }
    }
    &__details {
        background-color: $wht-color;
        margin: 4rem auto;
        position: relative;
        width: 1000px;
    }
    &__text {
        font-size: 2rem;
        line-height: 1.5;
        p {
            padding-bottom: 1em;
            &.like-h4 {
                color: $color-primary-1;
                font-size: 2.3rem;
                font-weight: 700;
                font-style: italic;
                span {
                    display: block;
                    font-style: normal;
                }
            }
        }
        ul, ol {
            padding-left: 3em;
            li { 
                padding-bottom: 1em; 
            }
        }
    }
    .references {
        font-size: 1.2rem;
        color: $gry-color;
        &::before {
            content: "References:";
            font-size: 1.4rem;
            font-weight: 700;
        }
        a {
            color: inherit;
            &:hover { 
                opacity: 0.8;
                transition: all .2s ease; 
            }
        } 
    }
    // open the dialog
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        -webkit-animation-name: for-the-modal; 
        -webkit-animation-duration: 0.7s; 
        animation-name: for-the-modal;
        animation-duration: 0.7s;
    }
    /* animation */
    @keyframes for-the-modal {
        from { bottom: -700px; opacity: 0; }
        to { bottom: 0; opacity: 1; }
    }
    @-webkit-keyframes for-the-modal {
        from { bottom: -700px; opacity: 0; }
        to { bottom: 0; opacity: 1; }
    }

    &__close {
        background-color: $color-primary-2;
        border: none;
        padding: 1em;
        position: absolute;
        transition: all 0.2s ease;
        vertical-align: middle;
        z-index: 1000;
        top: 0;
        right: 0;
        &::before {
            content: "\2716 \00A0 CLOSE";
            color: $wht-color;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
        // &::before {
        //     background-color: $color-primary-2;
        //     content: "\2716 \00A0 CLOSE";
        //     color: $wht-color;
        //     font-size: 1.8rem;
        //     font-weight: 700;
        //     letter-spacing: 0.1em;
        //     padding: 0.5em 1em;
        //     position: absolute;
        //     transition: all 0.2s ease;
        //     vertical-align: middle;
        //     z-index: 1000;
        //     top: 0;
        //     right: 0;
        // }
        &:focus {
            border: 1px dotted $type-2;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}