.timeline-content {
    margin-top: 3.25rem;
    margin-bottom: 3em;
    text-align: center; 
    [class^=type] {
      &::before { 
        font-size: 1.2em;
        position: absolute;
        left: 0;  
        top: 0;
      }
      &.type01::before {
        color: $type-1;
        content: "\25FC";
      }
      &.type02::before {
        color: $type-2;
        content:"\25B2";
      }
      &.type03::before {
        color: $type-3;
        content:"\2B1F";
      }
      &.type04::before {
        color: $type-4;
        content:"\2BC1";
      }
    }
    // .topic-hdr {
      // border-bottom: 3px solid $color-primary-2;
      // color: $color-primary-3;
      // display: block;
      // font-size: 1.7rem;
      // font-weight: 700;
      // // margin-bottom: 1em;
      // margin-bottom: 0.5em;
      // padding: 0;
      // text-align: left;
      // text-transform: uppercase;
      // width: 100%;
    // }
    ul.timeline-legend {
      display: flex;
      justify-content: space-between;
      list-style: none;
      position: relative;
      text-align: left;
      li {
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: $color-primary-2;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        font-size: 0.8em;
        padding: 0.2em 0.5em 0.5em 1.8em;
        position: relative;
        transition: all 0.3s ease 0s;
        vertical-align: middle;
        &:before {
          padding-left: 0.5em;
          top: 0.1em;
        }
        &:first-child {
          border-radius: 0.175em 0 0 0.175em;
        }
        &:last-child {
          border-right-width: 1px;
          border-radius: 0 0.175em 0.175em 0;
        }
        &:hover {
          background-color: rgba($color-primary-2, 0.5);
          cursor: pointer;
        }
        &.active {
          background-color: rgba($color-primary-2, 0.2);
          font-weight: 600;
        }
      }
    } 
    ul.timeline {
      border-left: 0.2em solid $color-primary-1;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      color: $color-primary-4;
      margin-left: 15em;
      margin-top: 2em;
      position: relative;
      padding: 2em 0.5em 2em 2em;
      list-style: none;
      text-align: left;
      li.event {
        padding-bottom: 3em;
        position: relative;
        &:last-of-type { 
          padding-bottom: 0;
          margin-bottom: 0; 
          border: none;      
        }
        &:before, &:after {
          position: absolute;
          display: block;
        }
        &:before {
          content: attr(data-date);
          font-size: 1.3em;
          font-weight: 700;
          line-height: 1.4;
          left: -12em;
          top: 0;
          text-align: right;
          width: 9em;
        }
        &:after {
          background-color: $color-primary-1;
          content: "";
          height: 0.8em;
          width: 0.8em;
          top: 0.5em;
          left: -2.5em;
          transform:rotate(45deg);
        }
        h4 {
          font-weight: 500;
          padding-left: 1.5em;
          padding-top: 0.2em;
        }
        p { display: none;}
      }
    }
  }