// main colors
$color-primary-1: rgb(0, 24, 113);
$color-primary-2: rgb(198, 147, 20);
$color-primary-3: rgb(0, 115, 103);
$color-primary-4: rgb(51, 51, 51);
$color-primary-5: rgb(242, 237, 226);

// misc colors
$wht-color: rgb(255, 255, 255);
$blk-color: rgb(0, 0, 0);
$gry-color: rgb(118, 118, 118);
$lt-divide: #f1f1f1;
$med-divide: #d4d4d4;

// legend colors
$type-1: rgb(192,0,0);
$type-2: rgb(0,115,103);
$type-3: rgb(91,155,213);
$type-4: rgb(198,147,20);
$type-4a: rgba(242, 237, 226, 0.3);
$type-5: rgb(0, 24, 113);
$type-6: rgb(102, 102, 102);


// fonts
$main-font: "Montserrat", sans-serif;
