/* start reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

/* end reset */
/* Add animation (Standard syntax) */
@-webkit-keyframes for-the-modal {
  from {
    bottom: -700px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes for-the-modal {
  from {
    bottom: -700px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 0 auto;
  width: 1000px;
}

.main-content {
  font-size: 1.6rem;
  margin: 0 auto;
  width: 1000px;
}

.start-intro h2 {
  color: #001871;
}

.start-intro .flex-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-intro .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.start-intro .flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-intro figure figcaption {
  text-align: center;
}

.start-main header {
  background-color: #007367;
  line-height: 2;
  margin: 1em 0;
  padding-left: 0.5em;
}

.start-main header h3 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 500;
}

.timeline-content {
  margin-top: 3.25rem;
  text-align: center;
}

.timeline-content [class^=type]::before {
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: -0.15em;
}

.timeline-content [class^=type].type01::before {
  color: #c00000;
  content: "\25FC";
}

.timeline-content [class^=type].type02::before {
  color: #007367;
  content: "\25B2";
}

.timeline-content [class^=type].type03::before {
  color: #5b9bd5;
  content: "\2B1F";
}

.timeline-content [class^=type].type04::before {
  color: #c69314;
  content: "\2BC1";
}

.timeline-content ul.timeline-legend {
  border: 1px solid grey;
  border-radius: 0.175em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  position: relative;
  text-align: left;
}

.timeline-content ul.timeline-legend li {
  border-right: 1px solid grey;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-size: 0.8em;
  padding: 0.2em 0.5em 0.5em 1.8em;
  position: relative;
  vertical-align: middle;
}

.timeline-content ul.timeline-legend li:before {
  padding-left: 0.5em;
  top: 0.1em;
}

.timeline-content ul.timeline-legend li:last-child {
  border-right: none;
}

.timeline-content ul.timeline {
  border-left: 0.2em solid #002060;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333333;
  margin-left: 15em;
  margin-top: 2em;
  position: relative;
  padding: 2em 0.5em 2em 2em;
  list-style: none;
  text-align: left;
}

.timeline-content ul.timeline li.event {
  padding-bottom: 3em;
  margin-bottom: 3em;
  position: relative;
}

.timeline-content ul.timeline li.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-content ul.timeline li.event:before, .timeline-content ul.timeline li.event:after {
  position: absolute;
  display: block;
}

.timeline-content ul.timeline li.event:before {
  content: attr(data-date);
  font-size: 1.3em;
  font-weight: 700;
  top: 0;
  left: -8em;
  text-align: right;
  width: 5em;
}

.timeline-content ul.timeline li.event:after {
  background-color: #002060;
  content: "";
  height: 0.8em;
  width: 0.8em;
  top: 0.5em;
  left: -2.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.timeline-content ul.timeline li.event h4 {
  font-weight: 500;
  padding-left: 1.2em;
  line-height: 1.2;
}

.timeline-content ul.timeline li.event p {
  display: none;
}

/* the modal styles */
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

/* display modal with target */
.modal:target {
  display: table;
  position: absolute;
}

/* The modal box */
.modal-dialog {
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  background-color: #ffffff;
  margin: 10em 0;
  overflow: visible;
  position: relative;
  padding: 5em 0 0 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* Add animation */
  -webkit-animation-name: for-the-modal;
  -webkit-animation-duration: 0.5s;
  animation-name: for-the-modal;
  animation-duration: 0.5s;
}

.modal-dialog .modal-content:before {
  border-top: 0.7em solid #c69314;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.modal-dialog .modal-content .content-details {
  font-size: 2rem;
}

.modal-dialog .modal-content .content-details .content-box {
  height: 10000px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

.modal-dialog .modal-content .content-details .content-box .like-h4 {
  color: #001971;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 700;
}

.modal-dialog .modal-content .content-details .content-box .like-h4 span {
  display: block;
  font-style: normal;
}

.modal-dialog .modal-content .content-details .content-box .close-it::before {
  background-color: #c69314;
  content: "\2716  CLOSE";
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  position: absolute;
  vertical-align: middle;
  top: -6.6em;
  right: 0;
}

.modal-dialog .modal-content .content-details .content-box .expand::before {
  color: #007367;
  content: "\271A Read More";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: absolute;
  text-transform: uppercase;
  right: 0;
}
