* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

html.target {
  padding-right: 1em;
  overflow-y: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #007367;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

main {
  margin: 0 auto;
  padding: 1em 0;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1024px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    padding: 0 1em;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  main {
    margin: 0;
    padding: 0 1em;
    width: 100%;
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  main table,
  main thead,
  main tbody,
  main th,
  main td,
  main tr {
    display: block;
  }
  main caption {
    display: inline-block;
  }
  main thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  main tr {
    border: 1px solid #ccc;
  }
  main th,
  main td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  main th:before,
  main td:before {
    /* Now like a table header */
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  main table.table-01 th:nth-of-type(1):before {
    content: "2019 achievement-level results:";
  }
  main table.table-01 td:nth-of-type(1):before {
    content: "Definition\00b9:";
  }
  main table.table-01 td:nth-of-type(2):before {
    content: "Detailed description:";
  }
  main table.table-02 th:nth-of-type(1):before {
    content: "Survey question (NAEP ID):";
  }
  main table.table-02 td:nth-of-type(1):before {
    content: "Type of contextual indicator:";
  }
  main table.table-03 th, main table.table-03 td, main table.table-04 th, main table.table-04 td, main table.table-05 th, main table.table-05 td, main table.table-06 th, main table.table-06 td {
    text-align: left;
  }
  main table.table-03 th.subcat, main table.table-03 td.subcat, main table.table-04 th.subcat, main table.table-04 td.subcat, main table.table-05 th.subcat, main table.table-05 td.subcat, main table.table-06 th.subcat, main table.table-06 td.subcat {
    padding-left: 1em;
  }
  main table.table-03 th:nth-of-type(1):before, main table.table-04 th:nth-of-type(1):before, main table.table-05 th:nth-of-type(1):before, main table.table-06 th:nth-of-type(1):before {
    content: "Variable and description:";
  }
  main table.table-03 td:nth-of-type(1):before, main table.table-04 td:nth-of-type(1):before, main table.table-05 td:nth-of-type(1):before, main table.table-06 td:nth-of-type(1):before {
    content: "Percentage:";
  }
  main table.table-03 td:nth-of-type(2):before, main table.table-04 td:nth-of-type(2):before, main table.table-05 td:nth-of-type(2):before, main table.table-06 td:nth-of-type(2):before {
    content: "Average scale score:";
  }
  main table.table-03 td:nth-of-type(3):before, main table.table-04 td:nth-of-type(3):before, main table.table-05 td:nth-of-type(3):before, main table.table-06 td:nth-of-type(3):before {
    content: "Percentage of students Below NAEP Basic:";
  }
  main table.table-03 td:nth-of-type(4):before, main table.table-04 td:nth-of-type(4):before, main table.table-05 td:nth-of-type(4):before, main table.table-06 td:nth-of-type(4):before {
    content: "Percentage of students At NAEP Basic:";
  }
  main table.table-03 td:nth-of-type(5):before, main table.table-04 td:nth-of-type(5):before, main table.table-05 td:nth-of-type(5):before, main table.table-06 td:nth-of-type(5):before {
    content: "Percentage of students At NAEP Proficient:";
  }
  main table.table-03 td:nth-of-type(6):before, main table.table-04 td:nth-of-type(6):before, main table.table-05 td:nth-of-type(6):before, main table.table-06 td:nth-of-type(6):before {
    content: "Percentage of students At NAEP Advanced:";
  }
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown .dropdown-toggle {
  /*button*/
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f2ede2;
  border: 1px solid #c69314;
  color: #007367;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  overflow: hidden;
  outline: none;
  padding: 12px 50px 12px 12px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
  width: 100%;
}

.dropdown .dropdown-toggle::after {
  /* button arrow */
  background: #c69314;
  color: white;
  content: "\025be";
  font-size: 3em;
  height: 100%;
  line-height: 0.9em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 50px;
}

.dropdown .dropdown-menu {
  background-color: #f2ede2;
  border: 1px solid #c69314;
  border-top: none;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 5px 0;
  position: absolute;
  visibility: hidden;
  min-width: 150px;
  width: 100%;
  z-index: 10;
}

.dropdown .dropdown-menu[aria-expanded="true"] {
  visibility: visible;
}

.dropdown .dropdown-menu > li {
  color: #007367;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
}

.dropdown .dropdown-menu > li.menu-option {
  text-align: left;
}

.filter {
  background-color: white;
  text-align: left;
  padding-bottom: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.filter__header {
  color: #007367;
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.filter p {
  padding: 0;
}

.filter__year {
  border-top: 3px solid #c69314;
  list-style-type: none;
  margin-top: 1em;
  padding-top: 1em;
}

.filter__year li {
  font-size: 1.8rem;
  display: inline-block;
  padding: 0 1em;
}

.filter__year li:first-child {
  padding: 0;
}

.filter__year li.selected {
  background-color: #f2ede2;
  border-radius: 5px;
}

.filter__year li.selected a {
  font-weight: 700;
  text-decoration: none;
}

.timeline-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  position: relative;
  text-align: left;
}

.timeline-legend li {
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #c69314;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-size: 0.8em;
  padding: 0.2em 0.5em 0.5em 1.8em;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}

.timeline-legend li:before {
  padding-left: 0.5em;
  top: 0.1em;
}

.timeline-legend li:first-child {
  border-radius: 0.175em 0 0 0.175em;
}

.timeline-legend li:last-child {
  border-right-width: 1px;
  border-radius: 0 0.175em 0.175em 0;
}

.timeline-legend li:hover {
  background-color: rgba(198, 147, 20, 0.5);
  cursor: pointer;
}

.timeline-legend li.active {
  background-color: rgba(198, 147, 20, 0.2);
  font-weight: 600;
}

.timeline-content {
  margin-top: 3.25rem;
  margin-bottom: 3em;
  position: relative;
  text-align: center;
}

.timeline-content [class^=type]::before {
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 0;
}

.timeline-content [class^=type].type01::before {
  color: #c00000;
  content: "\25FC";
}

.timeline-content [class^=type].type02::before {
  color: #007367;
  content: "\25B2";
}

.timeline-content [class^=type].type03::before {
  color: #5b9bd5;
  content: "\2B1F";
}

.timeline-content [class^=type].type04::before {
  color: #c69314;
  content: "\2BC1";
}

.timeline-content ul.timeline {
  border-left: 0.2em solid #001871;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333333;
  margin-left: 15em;
  margin-top: 2em;
  position: relative;
  padding: 2em 0.5em 2em 2em;
  list-style: none;
  text-align: left;
}

.timeline-content ul.timeline li.event {
  padding-bottom: 3em;
  position: relative;
}

.timeline-content ul.timeline li.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-content ul.timeline li.event:before, .timeline-content ul.timeline li.event:after {
  position: absolute;
  display: block;
}

.timeline-content ul.timeline li.event:before {
  content: attr(data-date);
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.4;
  left: -12em;
  top: 0;
  text-align: right;
  width: 9em;
}

.timeline-content ul.timeline li.event:after {
  background-color: #001871;
  content: "";
  height: 0.8em;
  width: 0.8em;
  top: 0.5em;
  left: -2.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.timeline-content ul.timeline li.event h4 {
  font-weight: 500;
  padding-left: 1.5em;
  padding-top: 0.2em;
}

.timeline-content ul.timeline li.event p {
  display: none;
}

.modal {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  /* animation */
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.modal__wrapper {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.modal__content {
  background-color: white;
  -webkit-box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  height: 100%;
  opacity: 0;
  position: relative;
  top: 13%;
  width: 100%;
}

.modal__content p {
  padding-bottom: 1em;
}

.modal__content:before {
  background: inherit;
  border-top: 0.7em solid #c69314;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  width: 100%;
}

.modal__details {
  background-color: white;
  margin: 4rem auto;
  position: relative;
  width: 1000px;
}

.modal__text {
  font-size: 2rem;
  line-height: 1.5;
}

.modal__text p {
  padding-bottom: 1em;
}

.modal__text p.like-h4 {
  color: #001871;
  font-size: 2.3rem;
  font-weight: 700;
  font-style: italic;
}

.modal__text p.like-h4 span {
  display: block;
  font-style: normal;
}

.modal__text ul, .modal__text ol {
  padding-left: 3em;
}

.modal__text ul li, .modal__text ol li {
  padding-bottom: 1em;
}

.modal .references {
  font-size: 1.2rem;
  color: #767676;
}

.modal .references::before {
  content: "References:";
  font-size: 1.4rem;
  font-weight: 700;
}

.modal .references a {
  color: inherit;
}

.modal .references a:hover {
  opacity: 0.8;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

.modal:target .modal__content {
  opacity: 1;
  -webkit-animation-name: for-the-modal;
  -webkit-animation-duration: 0.7s;
  animation-name: for-the-modal;
  animation-duration: 0.7s;
}

@keyframes for-the-modal {
  from {
    bottom: -700px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes for-the-modal {
  from {
    bottom: -700px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.modal__close::before {
  background-color: #c69314;
  content: "\2716 \00A0 CLOSE";
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
  z-index: 1000;
  top: 0;
  right: 0;
}

.modal__close:focus {
  outline: 1px solid red;
}

.modal__close:hover {
  opacity: 0.8;
}

.details {
  padding-bottom: 1em;
}

.details__state {
  display: none;
}

.details__state ~ .details__trigger::before {
  color: #007367;
  content: "\271A \00A0 Show Details";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: absolute;
  text-transform: uppercase;
  right: 0;
}

.details__state:checked ~ .details__trigger::before {
  content: "\2212 \00A0 Hide Details";
}

.details__trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.details__trigger:hover {
  opacity: 0.8;
}

.details__contents {
  display: none;
  opacity: 0;
  max-height: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.details__state:checked ~ .details__contents {
  display: table;
  opacity: 1;
  max-height: 999em;
}

.main-content {
  font-size: 1.6rem;
}

.start-intro {
  padding-left: 1em;
}

.start-intro h2, .start-intro h3 {
  color: #001871;
  font-weight: 400;
  padding-bottom: 1em;
}

.start-intro .article-banner {
  background-size: 0;
  background-repeat: no-repeat;
  min-height: 135px;
  margin: 0 0 25px;
}

.start-intro .article-banner p {
  line-height: 1.5;
}

.start-intro .article-banner__title {
  padding-bottom: 0;
  padding-top: 1em;
}

.start-intro .article-banner--preparedness {
  background-image: url("images/preparedness-cap-icon.png");
  background-position: -5px -5px;
}

@media only screen and (min-width: 768px) {
  .start-intro .article-banner {
    background-size: 289px 133px;
    padding-left: 295px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .start-intro .article-banner__title {
    font-size: 26px;
  }
}

.start-intro .flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
  width: 100%;
}

.start-intro .flexi__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media screen and (min-width: 800px) {
  .start-intro .flexi__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.start-intro .flexi__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 1em;
}

@media screen and (max-width: 800px) {
  .start-intro .flexi__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-bottom: 1em;
  }
}

.start-intro .flexi__img {
  max-width: 100%;
  height: auto;
}

.start-intro figure {
  border: 1px solid #007367;
}

.start-intro figure figcaption {
  padding: 0 0.5em 0.5em 0.5em;
  text-align: center;
}

.start-intro p {
  line-height: 2;
}

.start-main header,
.main-body header {
  background-color: #007367;
  line-height: 2;
  margin: 1em 0;
  padding-left: 1em;
}

.start-main header h3,
.main-body header h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

.start-main p,
.main-body p {
  line-height: 2;
  padding-bottom: 1em;
  padding-left: 1em;
}

.start-main ul.article-points,
.main-body ul.article-points {
  margin: 0 1em;
  padding: 0 2em;
}

.start-main ul.article-points li,
.main-body ul.article-points li {
  line-height: 2;
  padding: 0 0 1em 0;
}

.main-body p {
  padding-left: 0;
}

.main-body h3 {
  color: #001871;
  font-size: 1.3em;
}

.main-body h5 {
  color: #000000;
  font-size: 1.2em;
  padding: 1em 0;
}

.main-body .h-aside {
  color: #007367;
  display: block;
  font-weight: 700;
  line-height: 1.5;
}

.main-body .sm-note {
  font-size: 1.2rem;
  line-height: 1.2 !important;
}

.main-body ol {
  margin: 0 2em;
}

.main-body ol li {
  padding: 1em;
  line-height: 2;
}

.main-body hr {
  border-top: 5px solid #c69314;
  margin: 1em 0;
}

.main-body aside {
  border-top: 5px solid #c69314;
  border-bottom: 5px solid #c69314;
  float: right;
  margin: 0 0 0 2em;
  padding: 0.75em 0;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .main-body aside {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.main-body aside .aside__header {
  color: #007367;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-body aside ol {
  counter-reset: list;
  margin: 0;
}

.main-body aside ol li {
  color: #333333;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.6;
  list-style: none;
  padding: 0 0 0.75em 0;
}

.main-body aside ol li:before {
  content: counter(list, numeric) ") ";
  counter-increment: list;
}

.main-body .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.drawer-panel {
  margin: 1em 0;
}

.drawer-panel .drawer {
  position: relative;
  margin-bottom: 0.3em;
  padding: 0;
  width: 100%;
  overflow: hidden;
  /* :checked */
}

.drawer-panel .drawer input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.drawer-panel .drawer label.drawer-label {
  background-color: rgba(242, 237, 226, 0.3);
  border: 1px solid #c69314;
  color: #007367;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 3em 1em 1em;
  position: relative;
  text-align: left;
}

.drawer-panel .drawer label.drawer-label:hover {
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.drawer-panel .drawer label.drawer-label::before {
  color: #c69314;
  display: block;
  font-family: FontAwesome;
  font-size: 2em;
  line-height: 0.5em;
  position: absolute;
  right: 0.5em;
  top: 0.65em;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.drawer-panel .drawer .drawer-content {
  margin-top: 1em;
  max-height: 0;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  padding: 0 1em;
}

.drawer-panel .drawer .drawer-content hr {
  border-top: 1px solid lightgray;
}

.drawer-panel .drawer input:checked ~ .drawer-content {
  opacity: 1;
  max-height: 500em;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.drawer-panel .drawer input[type=checkbox]:checked + label.drawer-label {
  background: #007367;
  border: 1px solid #007367;
  color: #ffffff;
}

.drawer-panel .drawer input[type=checkbox]:checked + label.drawer-label::before {
  background-color: transparent;
  content: "\f056";
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.drawer-panel .drawer input[type=checkbox] + label.drawer-label::before {
  font-size: 2em;
  font-weight: 800;
  content: "\f055";
}

.drawer-panel .drawer input + label.drawer-label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure {
  margin: 1em 0;
  /* accessibility descriptions */
}

figure figcaption {
  font-weight: 500;
}

figure figcaption span {
  border-right: 2px solid black;
  display: inline-block;
  font-weight: 700;
  padding-right: 0.4em;
}

figure img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 2em 0;
}

@media screen and (max-width: 480px) {
  figure img {
    margin: 0;
    padding: 0;
  }
}

figure .hide-it {
  color: orangered;
}

figure.figure03, figure.figure05, figure.figure07, figure.figure08 {
  float: right;
  margin-top: 0;
  margin-left: 2em;
  width: 50%;
}

@media screen and (max-width: 480px) {
  figure.figure03, figure.figure05, figure.figure07, figure.figure08 {
    float: none;
    margin: 0;
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  margin: 1em 0 2em 0;
}

table caption {
  font-weight: 600;
  text-align: left;
  margin: 1em 0;
}

table caption span {
  border-right: 2px solid black;
  display: inline-block;
  font-weight: 700;
  padding-right: 0.5em;
}

table th, table td {
  text-align: left;
  padding: 0.5em 1em;
  vertical-align: bottom;
}

table th.subcat, table td.subcat {
  padding-left: 2em;
}

table th .sup1:before, table td .sup1:before {
  content: "\00B9";
}

table th .sup2:before, table td .sup2:before {
  content: "\00B2";
}

table thead th {
  background-color: #001871;
  border: 1px solid #001871;
  border-right: 1px solid white;
  color: white;
  font-weight: 700;
}

table thead th:last-child {
  border-right: 1px solid #001871;
}

table thead th[colspan="4"] {
  border-bottom: 1px solid white;
  text-align: center;
}

table.type-2 thead th {
  width: calc(100% / 2);
}

table.type-3 thead th {
  width: calc(100% / 3);
}

table.type-7 thead th {
  width: calc(100% / 7);
}

table tbody tr:nth-child(odd) th, table tbody tr:nth-child(odd) td {
  background-color: #f1f1f1;
}

table tbody tr th ul, table tbody tr td ul {
  margin: 0.5em 1em;
}

table tbody tr th ul li, table tbody tr td ul li {
  padding: 0;
}

table tbody tr th .pound:before, table tbody tr td .pound:before {
  content: "#";
}

table tbody tr th .standard, table tbody tr td .standard {
  color: #007367;
  font-style: italic;
  text-decoration: underline;
}

table tbody tr td {
  text-align: right;
}

table tfoot tr td {
  color: #767676;
  font-size: 1.2rem;
  line-height: 1.2 !important;
}

table.table-01 tbody tr td, table.table-02 tbody tr td {
  text-align: left;
}

table.table-03 thead tr:first-child th:first-child, table.table-04 thead tr:first-child th:first-child, table.table-05 thead tr:first-child th:first-child, table.table-06 thead tr:first-child th:first-child {
  width: 30%;
}

@media screen and (max-width: 800px) {
  table.table-03 thead tr:first-child th:first-child, table.table-04 thead tr:first-child th:first-child, table.table-05 thead tr:first-child th:first-child, table.table-06 thead tr:first-child th:first-child {
    width: auto;
  }
}

table.table-03 thead tr:nth-child(2) th, table.table-04 thead tr:nth-child(2) th, table.table-05 thead tr:nth-child(2) th, table.table-06 thead tr:nth-child(2) th {
  width: 10%;
}

@media screen and (max-width: 800px) {
  table.table-03 thead tr:nth-child(2) th, table.table-04 thead tr:nth-child(2) th, table.table-05 thead tr:nth-child(2) th, table.table-06 thead tr:nth-child(2) th {
    width: auto;
  }
}
