* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

html.target {
  padding-right: 1em;
  overflow-y: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #007367;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

main {
  margin: 0 auto;
  /* this should be removed when moved to NCES website */
  width: 1000px;
  /* this should be removed when moved to NCES website */
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown .dropdown-toggle {
  /*button*/
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f2ede2;
  border: 1px solid #c69314;
  color: #007367;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  overflow: hidden;
  outline: none;
  padding: 12px 50px 12px 12px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
  width: 100%;
}

.dropdown .dropdown-toggle::after {
  /* button arrow */
  background: #c69314;
  color: white;
  content: "\025be";
  font-size: 3em;
  height: 100%;
  line-height: 0.9em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 50px;
}

.dropdown .dropdown-menu {
  background-color: #f2ede2;
  border: 1px solid #c69314;
  border-top: none;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 5px 0;
  position: absolute;
  visibility: hidden;
  min-width: 150px;
  width: 100%;
  z-index: 10;
}

.dropdown .dropdown-menu[aria-expanded="true"] {
  visibility: visible;
}

.dropdown .dropdown-menu > li {
  color: #007367;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
}

.dropdown .dropdown-menu > li.menu-option {
  text-align: left;
}

.timeline-content {
  margin-top: 3.25rem;
  margin-bottom: 3em;
  position: relative;
  text-align: center;
}

.timeline-content [class^=type]::before {
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 0;
}

.timeline-content [class^=type].type01::before {
  color: #c00000;
  content: "\25FC";
}

.timeline-content [class^=type].type02::before {
  color: #007367;
  content: "\25B2";
}

.timeline-content [class^=type].type03::before {
  color: #5b9bd5;
  content: "\2B1F";
}

.timeline-content [class^=type].type04::before {
  color: #c69314;
  content: "\2BC1";
}

.timeline-content ul.timeline-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  position: relative;
  text-align: left;
}

.timeline-content ul.timeline-legend li {
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #c69314;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-size: 0.8em;
  padding: 0.2em 0.5em 0.5em 1.8em;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}

.timeline-content ul.timeline-legend li:before {
  padding-left: 0.5em;
  top: 0.1em;
}

.timeline-content ul.timeline-legend li:first-child {
  border-radius: 0.175em 0 0 0.175em;
}

.timeline-content ul.timeline-legend li:last-child {
  border-right-width: 1px;
  border-radius: 0 0.175em 0.175em 0;
}

.timeline-content ul.timeline-legend li:hover {
  background-color: rgba(198, 147, 20, 0.5);
  cursor: pointer;
}

.timeline-content ul.timeline-legend li.active {
  background-color: rgba(198, 147, 20, 0.2);
  font-weight: 600;
}

.timeline-content ul.timeline {
  border-left: 0.2em solid #001871;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333333;
  margin-left: 15em;
  margin-top: 2em;
  position: relative;
  padding: 2em 0.5em 2em 2em;
  list-style: none;
  text-align: left;
}

.timeline-content ul.timeline li.event {
  padding-bottom: 3em;
  position: relative;
}

.timeline-content ul.timeline li.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-content ul.timeline li.event:before, .timeline-content ul.timeline li.event:after {
  position: absolute;
  display: block;
}

.timeline-content ul.timeline li.event:before {
  content: attr(data-date);
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.4;
  left: -12em;
  top: 0;
  text-align: right;
  width: 9em;
}

.timeline-content ul.timeline li.event:after {
  background-color: #001871;
  content: "";
  height: 0.8em;
  width: 0.8em;
  top: 0.5em;
  left: -2.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.timeline-content ul.timeline li.event h4 {
  font-weight: 500;
  padding-left: 1.5em;
  padding-top: 0.2em;
}

.timeline-content ul.timeline li.event p {
  display: none;
}

.modal {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  /* animation */
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.modal__wrapper {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.modal__content {
  background-color: white;
  -webkit-box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  height: 100%;
  opacity: 0;
  position: relative;
  top: 13%;
  width: 100%;
}

.modal__content p {
  padding-bottom: 1em;
}

.modal__content:before {
  background: inherit;
  border-top: 0.7em solid #c69314;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  width: 100%;
}

.modal__details {
  background-color: white;
  margin: 4rem auto;
  position: relative;
  width: 1000px;
}

.modal__text {
  font-size: 2rem;
  line-height: 1.5;
}

.modal__text p {
  padding-bottom: 1em;
}

.modal__text p.like-h4 {
  color: #001871;
  font-size: 2.3rem;
  font-weight: 700;
  font-style: italic;
}

.modal__text p.like-h4 span {
  display: block;
  font-style: normal;
}

.modal__text ul, .modal__text ol {
  padding-left: 3em;
}

.modal__text ul li, .modal__text ol li {
  padding-bottom: 1em;
}

.modal .references {
  font-size: 1.2rem;
  color: #767676;
}

.modal .references::before {
  content: "References:";
  font-size: 1.4rem;
  font-weight: 700;
}

.modal .references a {
  color: inherit;
}

.modal .references a:hover {
  opacity: 0.8;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

.modal:target .modal__content {
  opacity: 1;
  -webkit-animation-name: for-the-modal;
  -webkit-animation-duration: 0.7s;
  animation-name: for-the-modal;
  animation-duration: 0.7s;
}

@keyframes for-the-modal {
  from {
    bottom: -700px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes for-the-modal {
  from {
    bottom: -700px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.modal__close::before {
  background-color: #c69314;
  content: "\2716 \00A0 CLOSE";
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
  z-index: 1000;
  top: 0;
  right: 0;
}

.modal__close:hover {
  opacity: 0.8;
}

.modal__close:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.details {
  padding-bottom: 1em;
}

.details__state {
  display: none;
}

.details__state ~ .details__trigger::before {
  color: #007367;
  content: "\271A \00A0 Show Details";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: absolute;
  text-transform: uppercase;
  right: 0;
}

.details__state:checked ~ .details__trigger::before {
  content: "\2212 \00A0 Hide Details";
}

.details__trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.details__trigger:hover {
  opacity: 0.8;
}

.details__contents {
  display: none;
  opacity: 0;
  max-height: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.details__state:checked ~ .details__contents {
  display: table;
  opacity: 1;
  max-height: 999em;
}

.main-content {
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 1em 0;
  width: 1000px;
}

.start-intro h2 {
  color: #001871;
}

.start-intro .flex-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-intro .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1em;
  width: 60%;
}

.start-intro .flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.start-intro .flex-column img {
  max-width: 100%;
  height: auto;
}

.start-intro figure {
  border: 1px solid #007367;
}

.start-intro figure figcaption {
  padding: 0 0.5em 0.5em 0.5em;
  text-align: center;
}

.start-intro p {
  line-height: 2;
}

.start-main header {
  background-color: #007367;
  line-height: 2;
  margin: 1em 0;
  padding-left: 1em;
}

.start-main header h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

.start-main p {
  line-height: 2;
  padding-bottom: 1em;
  padding-left: 1em;
}

.start-main .filter {
  background-color: white;
  text-align: left;
  padding-bottom: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.start-main .filter__header {
  color: #007367;
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.start-main .filter p {
  padding: 0;
}

.start-main .filter__year {
  border-top: 3px solid #c69314;
  list-style-type: none;
  margin-top: 1em;
  padding-top: 1em;
}

.start-main .filter__year li {
  font-size: 1.8rem;
  display: inline-block;
  padding-left: 1em;
}

.start-main .filter__year li:first-child {
  padding-left: 0;
}
