body {
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 0 auto;
  width: 1000px;
}

main.overlay {
  background-color: rgba(103, 128, 159, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 0.7;
}

.main-content {
  margin: 0 auto;
  width: 1000px;
}

.timeline-content {
  margin-top: 50px;
  text-align: center;
}

.timeline {
  border-left: 0.4em solid #002060;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333333;
  font-size: 1em;
  margin-left: 15em;
  position: relative;
  padding: 2em 0.5em 2em 2em;
  list-style: none;
  text-align: left;
}

.timeline:before {
  background: #002060;
  border-radius: 1em;
  height: 1.2em;
  width: 1.2em;
  content: "";
  position: absolute;
  top: -0.1em;
  left: -0.8em;
}

.timeline h1 {
  font-size: 1.7em;
}

.timeline h3 {
  font-size: 1.6em;
  font-style: italic;
}

.timeline .event {
  padding-bottom: 3em;
  margin-bottom: 3em;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before, .timeline .event:after {
  position: absolute;
  display: block;
}

.timeline .event:before {
  content: attr(data-date);
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
  top: 0.2em;
  left: -16em;
  text-align: right;
  width: 12em;
}

.timeline .event:after {
  background: #002060;
  border-radius: 1em;
  content: "";
  top: 0.2em;
  left: -2.9em;
  height: 1.4em;
  width: 1.4em;
}

.expanded-view {
  margin-top: 10em;
  overflow: visible;
  position: relative;
  padding: 5em 0 0 0;
  width: 100%;
  z-index: 1;
}

.expanded-view:before {
  border-top: 0.7em solid orange;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
}

.content-details .content-box {
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

.content-details .content-box::before {
  background-color: orange;
  content: "\2716  CLOSE";
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  position: absolute;
  vertical-align: middle;
  top: -7.8em;
  right: 0;
}
