@import "parts/min-reset";
@import "parts/variables";
@import "parts/base";
@import "parts/dropdown";
@import "parts/filter";
@import "parts/legend";
@import "parts/timeline";
@import "parts/modal";
@import "parts/details";
@import "parts/home";