/* start reset */
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 1000px) {
      font-size: 50%;
  }
  &.target {
    background-color: rgba(0, 0, 0, 0.5);
    // overflow-y: hidden;
    transition: all 0.5s ease-in;
  }
}
/* end reset */

/* animation for when modal opens */
// @keyframes modal-in {
//   from { bottom: -700px; opacity: 0; }
//   to { bottom: 0; opacity: 1; }
// }
/* animation for when modal closes */
// @keyframes modal-out {
//   from { bottom: 0; opacity: 1; }
//   to { bottom: -700px; opacity: 0; }
// }
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  // overscroll-behavior-y: none;
  // font-size: 16px;
}
a { 
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
main {
  margin: 0 auto;
  width: 1000px;
}
.main-content {
  font-size: 1.6rem;
  margin: 0 auto;
  width: 1000px;
}
.start-intro {
  h2 {
    
    color: rgb(0, 24, 113);
  }
  .flex-body {
    display: flex;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-column {
    flex-direction: column;
    margin-left: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  figure {
    border: 1px solid rgb(0, 115, 103);
    figcaption {
      padding: 0 0.5em 0.5em 0.5em;
      text-align: center;
    }
  }
}
.start-main {
  header {
    background-color: rgb(0, 115, 103);
    line-height: 2;
    margin: 1em 0;
    padding-left: 0.5em;
    h3 {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 500;
    }
  }
  p { padding-bottom: 1em; }
}
.timeline-content {
  margin-top: 3.25rem;
  margin-bottom: 3em;
  text-align: center; 
  [class^=type] {
    &::before { 
      font-size: 1.2em;
      position: absolute;
      left: 0;  
      top: -0.15em;
    }
    &.type01::before {
      color: rgb(192,0,0);
      content: "\25FC";
    }
    &.type02::before {
      color: rgb(0,115,103);
      content:"\25B2";
    }
    &.type03::before {
      color: rgb(91,155,213);
      content:"\2B1F";
    }
    &.type04::before {
      color: rgb(198,147,20);
      content:"\2BC1";
    }
  }
  ul.timeline-legend {
    border: 1px solid grey;
    border-radius: 0.175em;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    text-align: left;
    li {
      border-right: 1px solid grey ;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      font-size: 0.8em;
      padding: 0.2em 0.5em 0.5em 1.8em;
      position: relative;
      vertical-align: middle;
      &:before {
        padding-left: 0.5em;
        top: 0.1em;
      }
      &:last-child {
        border-right: none;
      }
    }
  } 
  ul.timeline {
    border-left: 0.2em solid #002060;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #333333;
    margin-left: 15em;
    margin-top: 2em;
    position: relative;
    padding: 2em 0.5em 2em 2em;
    list-style: none;
    text-align: left;
    li.event {
      padding-bottom: 3em;
      margin-bottom: 3em;
      position: relative;
      &:last-of-type { 
        padding-bottom: 0;
        margin-bottom: 0; 
        border: none;      
      }
      &:before, &:after {
        position: absolute;
        display: block;
      }
      &:before {
        content: attr(data-date);
        // display: inline-block;
        font-size: 1.3em;
        font-weight: 700;
        top: 0;
        left: -8em;
        text-align: right;
        width: 5em;
      }
      &:after {
        background-color: #002060;
        content: "";
        height: 0.8em;
        width: 0.8em;
        top: 0.5em;
        left: -2.5em;
        transform:rotate(45deg);
      }
      h4 {
        font-weight: 500;
        padding-left: 1.5em;
        line-height: 1.7;
        
        &:hover {
          // transform: skewX(-20deg);
          // font-style: italic;

        }
      }
      p { display: none;}
    }
  }
}
/* modal styles */
.modal-dialog {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: visibility 0s linear 0.5s, opacity 0.1s linear;
  vertical-align: middle;
  width: 100%;
  z-index: 2;  
  &:target {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    pointer-events: auto;
  }
}
/* modal content */
.modal-dialog .modal-content {
  background-color: #ffffff;
  margin: 10em 0;
  overflow: visible;
  position: relative;
  padding: 5em 0 0 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  &:before{
    border-top: 0.7em solid #c69314;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    // z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
  }
  .content-details {
    font-size: 2rem;
    min-height: 100vh;
    .content-box {
      height: 100%;
      margin: 0 auto;
      padding-bottom: 2em;
      position: relative;
      width: 1000px;
      p {
        padding-bottom: 1em;
      }
      .close-it {
        transition: all 1s ease;
        &::before {
          background-color: #c69314;
          content: "\2716  CLOSE";
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 700;
          letter-spacing: 0.1em;
          padding: 0.5em 1em;
          position: absolute;
          transition: all 2s ease;
          vertical-align: middle;
          top: -6.7em;
          right: 0;
        }
        &:hover {
          &::before {
            opacity: 0.7;
          }
        }
        &:target {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease;
        }
      }
      .like-h4 {
        color: #001971;
        font-size: 2.4rem;
        font-style: italic;
        font-weight: 700;
        span { 
          display: block;
          font-style: normal;
        }
      }
      .expand {
        padding-bottom: 1em;
        &::before {
          color: #007367;
          content: "\271A Read More";
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: 0.1em;
          position: absolute;
          text-transform: uppercase;
          right: 0;
        }
      }
    }
  }
}